@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Poppins:wght@400;500;600;700;800;900&display=swap');

*{ 
    font-family: "Poppins", sans-serif;
}

/* common style */
.share-header{
    color: #131318;
    font-family: Mulish;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.share-text{
    color: #5A5A5D;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
}

.choose-text h3{
    color: #131318;
    text-align: center;
    font-family: Mulish;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.choose-text p{
    color: rgba(19, 19, 24, 0.70);
text-align: center;
font-family: Mulish;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px; /* 162.5% */
}


.same-text{
    color: #FF5400;
font-family: Mulish;
font-size: 36px;
font-style: normal;
font-weight: 800;
line-height: normal;
}

.text-normal{
    color: #FF5400;
text-align: center;
font-family: Mulish;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: normal;

}

.btn-main{
    width: 174px;
height: 52px;
border-radius: 8px;
background: #FF5400;
border: 0;
color: #FFF;
text-align: center;
font-family: Mulish;
font-size: 20px;
font-weight: 800;
margin-top: 30px;
}


body{
    margin: 0;
    padding: 0;
  
}

/* header style */
header{
    max-width:1140px;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
  
}

nav{
    display: flex;
    justify-content: space-between;
align-items: center;
}
.header-titel{
    display: flex;
    justify-content: center;
    align-self: center;
    gap: 15px;
    color: #131318;
font-size: 36px;
font-style: normal;
font-weight: 800;
line-height: normal;

}
.header-titel img{
   padding-top: 45px;
   align-items: center;
    width: 50px;
    height: 55px;

}

.header-nav ul{
    display: flex;
    width: 500px;
    height: auto;
    justify-content: center;
    align-self: center;
}

.header-nav li{
    list-style: none;
    margin-right:35px ; 
     
}

.header-nav li a{
    text-decoration: none;
    color: var(--Dark-02, #424247);
text-align: center;
font-family: Mulish;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
/* main section style */
main{
    max-width:1140px;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}

/*banner section style */
.banner-container{
    background-image: url('../Images/Group\ 13.png') ;
    object-fit: cover;
    background-repeat: no-repeat;
    border-radius: 16px;
    margin-bottom:100px ;
    text-align: center;
    justify-content: center;
    align-items: center;
   padding:40px 60px ;
  
}



.banner-text h1 {
    color: #FFF;
    font-family: Mulish;
    font-size: 64px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.banner-text p{
    color: #FFF;
text-align: center;
font-family: Mulish;
font-size: 16px;
font-style: normal;
font-weight: 400;

}

.maanu-bar{
    display: inline-flex;
    padding: 16px;
    align-items: flex-start;
    gap: 24px;
    border-radius: 8px;
background: rgba(255, 255, 255, 0.30);

}

.maanu-bar ul input{
padding:16px;
border-radius: 8px;
background: #FFF;
border: 0;

}




/*  tour section style */
.tour-container{
    display: flex;
    justify-content: space-between;
    gap: 50px;
   margin-bottom:170px ;

}
.tour-text{
    justify-content: center;
    align-self: center;
}
.tour-text h3{
    color: #131318;
text-align: left;
font-family: Mulish;
font-size: 40px;
font-style: normal;
font-weight: 800;
line-height: normal;
}

.tour-text p ,ul {
    color: rgba(19, 19, 24, 0.70);
font-family: Mulish;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px;
}

/* Destination style */

.text-center{
    position: absolute;
   
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#center-card img{
padding:30px 140px 0px 40px ;
}
#center-card h4 ,p{
    padding:10px 40px;

}
.Destination-Place-img img{
    width: 100%;
    object-fit: cover;
}
.row-1{
    display: flex;
    gap: 24px;
    padding:14px 0;
    position: relative;
  text-align: center;
  color: #FFF;
text-align: center;
font-family: Mulish;
font-size: 28px;
font-style: normal;
font-weight: 800;
line-height: normal;
}
.row-2{
    display: flex;
    gap: 24px;
    padding:14px 0;
    
}
.row-3{
    display: flex;
    gap: 24px;
    padding:24px 0 ;
    padding-bottom: 70px;
}

/* Service style */
.service-card {
  display: grid;
grid-template-columns: repeat(2,1fr) ;
   gap: 24px;
   padding: 24px;
}

.service-card ,.card .center{
   justify-content: center;
   align-items: center;
}
.card{
    width: 573px;
height: 284px;
border-radius: 16px;
border: 1px solid rgba(251, 181, 99, 0.20);
background: rgba(251, 181, 99, 0.05);
}
.card-world{
    width: 573px;
height: 284px;
border-radius: 16px;
border: 1px solid rgba(41, 206, 246, 0.20);
background: rgba(41, 206, 246, 0.05);
}


/* optional-section style */

.optional-section{
    display: flex;
    justify-content: space-between;
    gap: 50px;
   
    align-self: center;

}
.optional-section .tour-text{
    align-self: center;
    justify-content: center;

}

.optional-section .text-list ul li{
    color: #131318;
font-family: Mulish;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 26px; /* 162.5% */
}


/* Newsletter section style */
.Newsletter-container{
    display: flex;
    gap: 24px;
    padding:100px 0 ;
}

.Newsletter-text{
    border-radius: 16px;
border: 1px solid #FF5400;
    padding: 30px;
}

.Newsletter-input {
    display: flex;
    flex-direction: column;
    gap: 15px;
width: 393px;

}

.Newsletter-input input , b{
    padding: 16px 120px 16px 20px;
    border: 0;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
}

.btn-main .Subscribe{
    width: 393px;
height: 52px;
}








/* footer style */
footer{
    
    max-width:1140px;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
  border-radius: 10px;
    background: rgba(19, 19, 24, 0.05);
}

footer .header-titel{
    padding-top:60px ;
}
.footer-text{
    color: #5A5A5D;
text-align: center;
font-size: 16px;
font-style: normal;
font-weight: 400;
padding: 20px 170px;
}

.icon{
  text-align: center;
  padding-bottom: 40px;
}
.icon i{
    gap: 20px;
    padding-right: 20px ;
}

footer hr{
    width: 872px;
height: 1px;
background: rgba(253, 253, 255, 0.1);
/* margin:  50px 0; */
}


/* Resposive style */

.hide{
    display: none;
}

/* mobile  devices responsive*/
@media screen and (max-width: 576px) {
    nav,
    .Newsletter-container,
    .tour-container,.optional-section, .row-1,.row-2,.row-3 {
        flex-direction: column;
    }
    .tour-container{
      margin: 5px 15px;
    }
    .tour-img img{
        width: 330px;
    }

    .banner-container{
    padding:15px ;
    margin-bottom:10px ;
    }

    .row-1,.row-2,.row-3  {
    padding: 5px 10px;
    margin: 0 20px;   
   } 
#img-pic{
    border-radius: 16px;
    width: 335px;
height: 176px;
}
.header-nav li{
    margin-right: 20px;
}  
.header-nav {
    margin: 10px 70px;
}

.Newsletter-img img{
    width: 335px;
    margin: 5px 15px;
    object-fit: cover;
    border-radius: 16px;
}

.share-header{
    text-align: center;
    
}
.Newsletter-container,.optional-section{
    margin: 5px 15px;
}
.Newsletter-input{
    width:230px;
}
.Newsletter-input input{
  padding: 20px;
}

.footer-text{
  padding: 10px ;
}

footer hr{
    width: 160px;
 
}
}